# Node-related folders
node_modules
.nuxt
.nitro
.cache
.output
.env
dist
.DS_Store
.vscode
.sfdx

# Compiled Rust artifacts
**/target/
**/*.rs.bk

# Compiled Vue.js artifacts
/frontend/dist/
/frontend/node_modules/

# CSV and PDF files
*.csv
*.pdf

# Logs
*.log*

# Editor files
*.swp
*.swo
*.swn

# macOS files
.DS_Store

# Other common files to ignore
*.bak
*.tmp
*~
