// ~/assets/variables.scss

// Dark Theme
$dark-primary: #21CFF3;
$dark-accent: #FF4081;
$dark-secondary: #21dc79;
$dark-success: #86af3f;
$dark-info: #f34fc6;
$dark-warning: #FB8C00;
$dark-error: #FF5252;

// Light Theme
$light-primary: #22daff;
$light-accent: #ff6b99;
$light-secondary: #26ff8c;
$light-success: #a5d64c;
$light-info: #ff53d0;
$light-warning: #ff8e00;
$light-error: #ff5252;
